<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="CurrentVersion" value="V3.6.3.1 Build180705" />
    <add key="UpdateVersion" value="V3.6.3.1 Build180705" />
    <add key="UICulture" value="zh-CN" />
    <add key="WebDAL" value="SQLServerDAL" />
    <add key="ShowNavMaps" value="1" />
    <add key="FirstNavMaps" value="0" />
    <add key="NodesRequstInterval" value="5" />
    <add key="SyncSettingInterval" value="10" />
    <add key="DefaultCacheDuration" value="600" />
    <add key="PageCacheDuration" value="30" />
    <add key="MaxCacheDuration" value="3600" />
    <add key="DefaultCountItem" value="正向有功电能" />
    <add key="CaspClientConfigPath" value="/casp_client_config.xml" />
    <add key="Kpi-GuangXi-Enable" value="0" />
    <add key="Kpi-HeNan-Enable" value="1" />
    <add key="Kpi-HeNan-Virtual-Enable" value="0" />
    <add key="Menjin-NeiMeng-Enable" value="0" />
</appSettings>